#posts > div > h2 {
    text-align: left;
}

#kube-vincitrice {
    max-width: 740px;
    margin: auto;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 104px;
    border-top: 1px solid rgba(0, 0, 0, 0.07); }
    #kube-vincitrice h2 {
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      line-height: 32px;
      margin-top: 80px;
      margin-bottom: 40px; }

#kube-premio {
    max-width: 740px;
    margin: auto;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 104px;
    border-top: 1px solid rgba(0, 0, 0, 0.07); }
    #kube-premio h2 {
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      line-height: 32px;
      margin-top: 80px;
      margin-bottom: 40px; }