{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="main">
<div id="hero" class="wrap">
    <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="post-box">
    
    <div id="kube-component" class="content">
        {{.Content | safeHTML}}       
    </div>
    
</div>
</div>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}