{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
    <h2>Le tesi 📚 del premio onData con tag "<span id="tagid"></span>"</h2>
</div>

<script>
    var parts = window.location.href.split('/');
    var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
    console.log(lastSegment);
    document.getElementById("tagid").innerHTML = lastSegment;
</script>
<ul id="posts">
    
    
    {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
    <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }} 
{{ define "footer" }} 
{{ partial "footer" . }} 
{{ end }}

