  <footer id="footer">
    <nav>
      <ul>
        <li>
          <a href="http://ondata.it/">Sito</a>
        </li>
        <li>
          <a href="http://blog.ondata.it/" target="_blank">Blog</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licenza <a href="https://creativecommons.org/licenses/by/4.0/deed.it">CC BY 4.0</a>.</p>
  </footer>