{{ define "title"}} {{ "Le tesi del premio onData"}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>Le tesi 📚 del premio onData</h1>
    <p>L'elenco di tutte quelle che ci sono state inviate, comprese quelle che non abbiamo potuto valutare perché "fuori" <a href="https://drive.google.com/file/d/0B-g48VRtWd4eTWxyMWRXeE9BWGc/view" target="_blank">regolamento</a></p>
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}

