{{ define "title"}} {{  (printf "Premio onData 2017 | %s" .Title) }} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main"}}
<div class="push-center" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <div id="">
        
        {{ if .Description }}
        <!--<blockquote itemprop="description">{{ .Description }}</blockquote>-->
        {{ end }}
        <!--<time class="post-time">{{ partial "post/meta" . }}</time>-->
    </div>
    <div id="post-box">
        <h3 itemprop="headline">  {{.Title}}</h3>
        <div id="post" itemprop="articleBody">
            
            {{.Content | safeHTML}}
            <div class="anagrafica">
                <ul style="list-style-type: none;margin: 0;padding: 0;">
                    <li><strong>Nome tesista</strong>: {{ .Params.Nome }} {{ .Params.Cognome }}</li>
                    <li><strong>Università</strong>: {{ .Params.Universita }}</li>
                    <li><strong>Corso di Laurea</strong>: {{ .Params.CorsodiLaurea }}</li>
                    {{ if .Params.Votolaurea }}
                    <li><strong>Voto di Laurea</strong>: {{ .Params.Votolaurea }}</li>
                    {{ end }}
                    {{ if .Params.Datadilaurea }}
                    <li><strong>Data di Laurea</strong>: {{ .Params.Datadilaurea }}</li>
                    {{ end }}
                    <li><strong>email</strong>: <a href="mailto:{{ .Params.Email }}">{{ .Params.Email }}</a></li>
                </ul>
                <br>
                <a href="{{ .Site.BaseURL }}file/{{ .Params.file }}">Download</a>
                
            </div>
            <hr>
            <div class="correlati">
                {{ partial "post/byauthor" . }}
            </div>
            <div class="anteprima">
                <object data="{{ .Site.BaseURL }}file/{{ .Params.file }}" type="application/pdf" width="100%" height="600px">
                    <a href="{{ .Site.BaseURL }}file/{{ .Params.file }}"><img src="{{ .Site.BaseURL }}file/{{ .Params.file }}.png" style="border:1px solid #3794de;"></a>
                </object>
            </div>
        </div>
        
        
        
        <div class="">
            <!--{{ partial "post/byauthor" . }}-->
            <!--{{ partial "post/related-content" . }}-->
        </div>
        
        {{ if .Site.DisqusShortname }}
        <article>
            {{ template "_internal/disqus.html" . }}
        </article>
        {{ end }}
        
    </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}